<div class="d-flex h-92">
    <div class="col-3 bg-dark text-light h-100 p-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                <img src="assets/inbox.svg"> Inbox</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg>
                  Sent</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
                <!--<i class="bi bi-trash3-fill"></i>   Nu merge -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
                Deleted</a>
        </div>
    </div>

    <div class="p-4 w-100">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr> <th>From</th>          <th>Subject</th>    <th>Body</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td>Remus-Nicolae</td> <td>Mail1</td>      <td>Ceva text</td> </tr>
                        <tr> <td>Norbert</td>       <td>Mail2</td>      <td>Super Important</td> </tr>
                        <tr> <td>Marcela</td>       <td>Mail3</td>      <td>Nigerian Prince</td> </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade text-light" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr> <th>To</th>            <th>Subject</th>    <th>Body</th> </tr>
                    </thead>
                    <tbody>
                        <tr> <td>Remus-Nicolae</td> <td>Mail1</td>      <td>Ceva text</td> </tr>
                        <tr> <td>Norbert</td>       <td>Mail2</td>      <td>Super Important</td> </tr>
                        <tr> <td>Marcela</td>       <td>Mail3</td>      <td>Nigerian Prince</td> </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr> <th>From</th>          <th>Subject</th>    <th>Body</th> </tr>
                </thead>
                <tbody>
                    <tr> <td>Remus-Nicolae</td> <td>Mail1</td>      <td>Ceva text</td> </tr>
                    <tr> <td>Norbert</td>       <td>Mail2</td>      <td>Super Important</td> </tr>
                    <tr> <td>Marcela</td>       <td>Mail3</td>      <td>Nigerian Prince</td> </tr>
                </tbody>
            </table></div>
          </div>
    </div>
</div>