.h-92 {
    height: 92vh;
}

.list-group-item {
    background-color: #373B3E !important;
    color: white !important;
}

.list-group-item.active {
    background-color: #DC3545 !important;
    border-color: #DC3545 !important;
}